.playback-hud {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 45%;
    height: auto;
    background: rgba(18,18,18,0.85);
    border: 2px solid white;
    border-radius: 5px;
    z-index: 999;
    padding: 5px;
    color: white;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1px;  
}

.timeline {
    accent-color:#e9a42d;
}

.control1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
}

.play-btn {
    color: white;
    background: #e9a42d;
    border: 0;
    border-radius: 100px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.control2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.frame-skip {
    background: #202020;
    border: 0;
    border-radius: 10px;
    padding: 5px;
    height: 25px;
}

.frame-skip button {
    color: white;
    background: #616161;
    border: 0;
    border-radius: 10px;
    padding: 5px;
    height: 25px;
    width: 25px;
}

.frame-skip button:active {
    background: #e9a42d;
    transition: 0.2s ease;
}

.frame-skip button:not(:last-child) {
    margin-right: 3px;
}

.frame-count {
    background: #202020;
    border: 0;
    border-radius: 10px;
    padding: 5px;
    height: 25px;
    align-content: center;
}

.current-frame, .end-frame {
    font-size: 14px;
}

.current-frame {
    color: #e9a42d;
}

.frame-count, .end-frame {
    color: #616161;
}

.loop {
    background: #202020;
    border: 0;
    border-radius: 10px;
    padding: 5px;    
    height: 25px;
    align-content: center;
    color: #616161;
}

.loop button {
    color: white;
    background: #616161;
    border: 0;
    border-radius: 10px;
    padding: 5px;
    height: 25px;
}

.loop .loop-btn-active {
    color: white;
    background: #e9a42d;
    border: 0;
    border-radius: 10px;
    padding: 5px;
    height: 25px;
}

.loop button:not(:last-child) {
    margin-right: 5px;
}

.loop button:nth-child(2):disabled, .loop button:last-child:disabled {
    opacity: 0.5;
}

.mirror-btn, .grid-btn {
    color: white;
    background: #616161;
    border: 0;
    border-radius: 10px;
    height: 25px;
    transition: 0.3s ease;
}

.mirror-btn-active, .grid-btn-active {
    color: white;
    border: 0;
    border-radius: 10px;
    height: 25px;
    background-color: #e9a42d;
    transition: 0.3s ease;
}

.speed-control {
    background: #202020;
    border: 0;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.speed-control button {
    color: white;
    background: #616161;
    border: 0;
    border-radius: 10px;
    height: 25px;
}

.animator-grid-overlay {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 50;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.animator-grid-overlay div {
    border: 1px solid white;
}